<head>

</head>

<body>
    <form method="POST" action='/register'>
        <label for="email">Email</label>
        <input type="text" class="form" name="email" placeholder="Enter Your Email">
        
    <!--im having trouble getting it to connect to the js so it prints on the page-->
    <button>submit</button>
    </form>
<script src="app.js"></script>
</body>